/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.data-city {
  background-color: cornflowerblue;
  z-index: 1;
}

.data-general {
  background-color: cornflowerblue;
  z-index: 5;
}
