<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Temperature data website
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    {#<link rel="stylesheet" type="text/css" href="/{{urls.staticFiles}}/{{urls.static.stylesheet}}"> #}
    <style>
      .data-city, .data-general {
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body>
  {% block alert %}
    {% if msg %}
      <script>
        Alert({{msg}});
      </script>
    {% endif %}
  {% endblock %}
  <nav class="grey darken-3" role="navigation">
    <ul class="nav-wrapper container">
    {% block navi %}
      <li><a class="nav-item" href="/{{urls.main}}">Main page.</a></li>
      <li><a class="nav-item" href="/{{urls.submit}}">Add data here.</a></li>
    {% endblock %}
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
  </body>
</html>
