{% extends "base.njk" %}
{% block title %}
{{ title }}
{% endblock %}
{% block head %}
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
{% endblock %}
{% block content %}
  <br />
  <form action="" method="post" enctype="multipart/form-data">
    <div class="input-field">
      <select name="location" id="location">
        {% for location in locations %}
        <option value="{{location.id}}">{{location.name}}</option>
        {% endfor %}
      </select>
      <label>City</label>
    </div>

    <div class="input-field">
      <input type="number" id="temperature" name="temperature" min="-100" max="100" step="0.01" required="true"/>
      <label>Temperature</label>
    </div>
    <br />
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
