{% extends "base.njk" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
  <div class="row">
  {% for location in locations %}
  {% if location %}
    <div class="col s6 m4 l3" >
      <a href="/{{urls.locations}}/{{location.location}}">
      <div class="data-general z-depth-2" id="location-{{location.location}}">
          <h4>{{location.name}}</h4>
        Max temperature: {{location.max}}<br />
        Min temperature: {{location.min}}<br />
        Latest temperature: {{location.recentTemp}}<br /> {{location.recentTime}}<br />
      </div>
    </a>
    </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
