{% extends "base.njk" %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
  {% for location in locations %}
  {% if location %}
    <div id="location location-{{location.location}}">
      <a href="/{{urls.locations}}/{{location.location}}">
        <h4>{{location.name}}</h4>
      </a>
      Max temperature: {{location.max}}</br>
      Min temperature: {{location.min}}</br>
      Latest temperature: {{location.recentTemp}}</br> {{location.recentTime}}</br>
    </div>
  {% endif %}
  {% endfor %}
{% endblock %}
